body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  padding: 5rem;
}

ul {
  list-style-type: none;    
}

.lco-tv {
  cursor: pointer;
}

#div1 {
  border-style: solid;
  border-width: 1px;
  border-color: blueviolet;
  width: 200px;
  height: 200px;
}

#div1 {
  overflow: auto;
}

.item::before {
  content: "\2610";
  display: inline-block;
  margin-right: 0.5rem;
}

.item.ativado {
  text-decoration: line-through;
  color:#888;
}

.item.ativado::before {
  content: "\2611";
}

/* pastas */
.pasta::before {
  content: "\25B6";
  display: inline-block;
  margin-right: 0.5rem;
  transition: transform 0.3s ease-in-out;
}

.pasta.ativado::before {
  transform: rotate(90deg);
}

.envelope {
  display: none;
}

.envelope.ativado {
  display: block;
}
