/* Remove default bullets */
ul, #myUL {
    list-style-type: none;
  }
  
  /* Remove margins and padding from the parent ul */
  #myUL {
    margin: 0;
    padding: 0;
  }
  
  /* Style the pasta/arrow */
  .pasta {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
  }
  
  /* Create the pasta/arrow with a unicode, and style it */
  .pasta::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  
  /* Rotate the pasta/arrow icon when clicked on (using JavaScript) */
  .pasta.active::before {
    transform: rotate(90deg);
  }
  
  /* Hide the nested list */
  .envelope {
    display: none;
  }
  
  /* Show the nested list when the user clicks on the pasta/arrow (with JavaScript) */
  .active {
    display: block;
  }