/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.dados {
    padding: 20px;
    width: 650px;
    margin: 0 auto;
}

.print {
    display: none;
    padding: 10px;
    width: 900px;
    margin: 0 auto;
}

.normal00 {
    text-indent: 35.45pt;
    text-align: justify;
    line-height: 130%;
    font-size: 16pt;
}

.variaveis {
    font-weight: bold;
}

/* Estilos do cabeçalho */
#cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
    /* Ajuste conforme necessário */
    /* border-bottom: 1px solid #ccc; */
}

#cabecalho-text {
    margin: 0 10px;
    font-weight: bold;
}

/* Estilos do conteúdo */
#conteudo {
    margin-top: 120px;
    /* Ajuste conforme necessário para garantir que o conteúdo não seja obscurecido pelo cabeçalho */
    margin-bottom: 70px;
    /* Ajuste conforme necessário para garantir que o conteúdo não seja obscurecido pelo rodapé */
    padding: 20px;
}

/* Estilos do rodapé */
#rodape {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    /* Ajuste conforme necessário */
    background-color: #fff;
    padding: 10px;
    text-align: center;
    /* border-top: 1px solid #ccc; */
}

/* Estilos de impressão */
@media print {
    .print {
        display: block;
    }

    .dados {
        display: none;
    }
}

@media print {
    #cabecalho {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    #rodape {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }

    #conteudo {
        margin-top: 120px;
        margin-bottom: 70px;
    }
}