body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Para Chrome, Safari, Edge e Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Para Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.dados {
    display: none;
    /* padding: 20px;
    width: 650px;
    margin: 0 auto; */
}

.print {
    display: block;
    /* padding: 10px;
    width: 900px;
    margin: 0 auto; */
}

.page {
    page-break-after: always;
    /* Garante que cada página seja impressa separadamente */
    /* width: 21cm; */
    /* Tamanho A4, ajustável conforme necessário */
    /* height: 29.7cm; */
    margin: 2cm auto;
    /* Margens para centralizar na página */
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Sombra opcional */
    overflow: hidden;
    /* Evita que conteúdos vazem para outras páginas */
}

header,
footer {
    background-color: #f0f0f0;
    padding: 10px;
    position: absolute;
    width: calc(100% - 20px);
}

header {
    top: 0;
    padding-left: 60px;
    padding-right: 50px;
    display: flex;
    align-items: center;
    line-height: 130%;
    font-size: 14pt;
}

header img {
    max-height: 50px;
    margin-right: 20px;
}

footer {
    bottom: 0;
}

main {
    padding-top: 80px;
    padding-left: 60px;
    padding-right: 50px;
}

.normal00,
.paragrafo00 {
    text-align: justify;
    line-height: 140%;
    font-size: 14pt;
}

.paragrafo00 {
    text-indent: 35.45pt;
}

.last-footer{
    text-align: justify;
    line-height: 100%;
    font-size: 10pt;
    font-style: italic;
}

.signature-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.signature-block {
    text-align: center;
    line-height: 130%;
    font-size: 12pt;
}

@media print {
    body {
        margin: 0;
        padding: 0;
    }

    .page {
        margin: 0;
        box-shadow: none;
        page-break-after: always;
    }

    .print {
        display: block;
    }

    .dados {
        display: none;
    }
}