<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TCE - Cedup</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!--
    <style>
        body {
            font-size: 0.9rem;
            /* Diminui o tamanho da fonte */
        }

        .form-group {
            margin-bottom: 0.5rem;
            /* Diminui o espaço entre os campos do formulário */
        }
    </style>
    -->
</head>

<body>
    <div class="container mt-5">
        <h3 class="text-center">TCE - Termo de Compromisso de Estágio</h3>
        <form id="myForm">
            <div class="text-primary">
                <h4>Dados do Estagiário(a):</h4>
                <div class="form-group">
                    <label for="nomeEstagiario">Nome</label>
                    <input type="text" class="form-control" name="nomeEstagiario" id="nomeEstagiario" placeholder="Digite o nome completo">
                </div>
                <div class="form-group">
                    <label for="nomeCurso">Curso</label>
                    <select class="form-control" name="nomeCurso" id="nomeCurso">
                        <option value="" disabled selected>Selecione um curso</option>
                    </select>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="matriculaEstagiario">Matrícula</label>
                        <input type="number" class="form-control" name="matriculaEstagiario" id="matriculaEstagiario"
                            placeholder="Digite a matrícula">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="cpfEstagiario">CPF</label>
                        <input type="number" class="form-control" name="cpfEstagiario" id="cpfEstagiario" placeholder="Digite o CPF">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="dataNascimento">Data de Nascimento</label>
                        <input type="date" class="form-control" name="dataNascimento" id="dataNascimento">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="telefoneEstagiario">Telefone</label>
                        <input type="number" class="form-control" name="telefoneEstagiario" id="telefoneEstagiario"
                            placeholder="Digite o telefone">
                    </div>
                    <div class="form-group col-md-8">
                        <label for="emailEstagiario">E-mail</label>
                        <input type="email" class="form-control" name="emailEstagiario" id="emailEstagiario" placeholder="Digite o e-mail">
                    </div>
                </div>
                <div class="form-group">
                    <label for="enderecoEstagiario">Endereço</label>
                    <input type="text" class="form-control" name="enderecoEstagiario" id="enderecoEstagiario"
                        placeholder="Digite o endereço completo (Rua, Número, Bairro)">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="cidadeEstagiario">Cidade:</label>
                        <input type="text" class="form-control" name="cidadeEstagiario" id="cidadeEstagiario" placeholder="Digite a cidade">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="estadoEstagiario">Estado:</label>
                        <select name="estadoEstagiario" id="estadoEstagiario" class="form-control">
                            <option value="" disabled selected>Selecione...</option>
                            <option value="Acre">Acre</option>
                            <option value="Alagoas">Alagoas</option>
                            <option value="Amapá">Amapá</option>
                            <option value="Amazonas">Amazonas</option>
                            <option value="Bahia">Bahia</option>
                            <option value="Ceará">Ceará</option>
                            <option value="Distrito Federal">Distrito Federal</option>
                            <option value="Espírito Santo">Espírito Santo</option>
                            <option value="Goiás">Goiás</option>
                            <option value="Maranhão">Maranhão</option>
                            <option value="Mato Grosso">Mato Grosso</option>
                            <option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
                            <option value="Minas Gerais">Minas Gerais</option>
                            <option value="Pará">Pará</option>
                            <option value="Paraíba">Paraíba</option>
                            <option value="Paraná">Paraná</option>
                            <option value="Pernambuco">Pernambuco</option>
                            <option value="Piauí">Piauí</option>
                            <option value="Rio de Janeiro">Rio de Janeiro</option>
                            <option value="Rio Grande do Norte">Rio Grande do Norte</option>
                            <option value="Rio Grande do Sul">Rio Grande do Sul</option>
                            <option value="Rondônia">Rondônia</option>
                            <option value="Roraima">Roraima</option>
                            <option value="Santa Catarina">Santa Catarina</option>
                            <option value="São Paulo">São Paulo</option>
                            <option value="Sergipe">Sergipe</option>
                            <option value="Tocantins">Tocantins</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="cepEstagiario">CEP:</label>
                        <input type="text" class="form-control" name="cepEstagiario" id="cepEstagiario" placeholder="Digite o CEP">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="deficiencia">Pessoa com Deficiência</label>
                        <select class="form-control" name="deficiencia" id="deficiencia">
                            <option value="" disabled selected>Selecione uma opção</option>
                            <option value="sim">Sim</option>
                            <option value="nao">Não</option>
                        </select>
                    </div>
                </div>
            </div>
            </br></br>
            <div class="text-success">
                <h4>Dados da Empresa:</h4>
                <div class="form-group">
                    <label for="nomeEmpresa">Razão Social</label>
                    <input type="text" class="form-control" name="nomeEmpresa" id="nomeEmpresa">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="cnpj">CNPJ ou CPF</label>
                        <input type="number" class="form-control" name="cnpj" id="cnpj">
                    </div>
                </div>
                <div class="form-group">
                    <label for="enderecoEmpresa">Endereço</label>
                    <input type="text" class="form-control" name="enderecoEmpresa" id="enderecoEmpresa"
                        placeholder="Digite o endereço completo (Rua, Número, Bairro)">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="cidadeEmpresa">Cidade:</label>
                        <input type="text" class="form-control" name="cidadeEmpresa" id="cidadeEmpresa" placeholder="Digite a cidade">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="estadoEmpresa">Estado:</label>
                        <select name="estadoEmpresa" id="estadoEmpresa" class="form-control">
                            <option value="" disabled selected>Selecione...</option>
                            <option value="Acre">Acre</option>
                            <option value="Alagoas">Alagoas</option>
                            <option value="Amapá">Amapá</option>
                            <option value="Amazonas">Amazonas</option>
                            <option value="Bahia">Bahia</option>
                            <option value="Ceará">Ceará</option>
                            <option value="Distrito Federal">Distrito Federal</option>
                            <option value="Espírito Santo">Espírito Santo</option>
                            <option value="Goiás">Goiás</option>
                            <option value="Maranhão">Maranhão</option>
                            <option value="Mato Grosso">Mato Grosso</option>
                            <option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
                            <option value="Minas Gerais">Minas Gerais</option>
                            <option value="Pará">Pará</option>
                            <option value="Paraíba">Paraíba</option>
                            <option value="Paraná">Paraná</option>
                            <option value="Pernambuco">Pernambuco</option>
                            <option value="Piauí">Piauí</option>
                            <option value="Rio de Janeiro">Rio de Janeiro</option>
                            <option value="Rio Grande do Norte">Rio Grande do Norte</option>
                            <option value="Rio Grande do Sul">Rio Grande do Sul</option>
                            <option value="Rondônia">Rondônia</option>
                            <option value="Roraima">Roraima</option>
                            <option value="Santa Catarina">Santa Catarina</option>
                            <option value="São Paulo">São Paulo</option>
                            <option value="Sergipe">Sergipe</option>
                            <option value="Tocantins">Tocantins</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="cepEmpresa">CEP:</label>
                        <input type="text" class="form-control" name="cepEmpresa" id="cepEmpresa" placeholder="Digite o CEP">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="telefoneEmpresa">Telefone</label>
                        <input type="number" class="form-control" name="telefoneEmpresa" id="telefoneEmpresa">
                    </div>
                    <div class="form-group col-md-8">
                        <label for="emailEmpresa">E-mail</label>
                        <input type="email" class="form-control" name="emailEmpresa" id="emailEmpresa">
                    </div>
                </div>
                <div class="form-group">
                    <label for="ramoAtividade">Ramo de Atividade</label>
                    <input type="text" class="form-control" name="ramoAtividade" id="ramoAtividade">
                </div>
                <div class="form-group">
                    <label for="representante">Representante Legal</label>
                    <input type="text" class="form-control" name="representante" id="representante">
                </div>
                <div class="form-group">
                    <label for="supervidor">Nome do Supervisor de Estágio</label>
                    <input type="text" class="form-control" name="supervidor" id="supervidor">
                </div>
                <div class="form-group">
                    <label for="cargo">Cargo do Supervisor de Estágio</label>
                    <input type="text" class="form-control" name="cargo" id="cargo">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="apolice">Número da Apólice</label>
                        <input type="text" class="form-control" name="apolice" id="apolice">
                    </div>
                    <div class="form-group col-md-8">
                        <label for="seguradora">Seguradora</label>
                        <input type="text" class="form-control" name="seguradora" id="seguradora">
                    </div>
                </div>
                <div class="form-group">
                    <label for="cnpjSeguradora">CNPJ da Seguradora</label>
                    <input type="text" class="form-control" name="cnpjSeguradora" id="cnpjSeguradora">
                </div>
            </div>
            </br></br>
            <div class="text-warning">
                <h4>Plano de Atividades de Estágio:</h4>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="tipoEstagio">Tipo de Estágio: <label>
                                <select class="form-control" name="tipoEstagio" id="tipoEstagio">
                                    <option value="" disabled selected>Selecione uma opção</option>
                                    <option value="obrigatorio">Obrigatório</option>
                                    <option value="naoobrigatorio">Não Obrigatório</option>
                                </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="atividades">Atividades de Estágio:</label>
                    <textarea class="form-control" id="atividades" name="atividades" rows="15"></textarea>
                </div>
            </div>
            </br>
            <button type="submit" class="btn btn-primary">Imprimir</button>
        </form>
        </br></br>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            fetch('../assets/nomeCursos.txt')
                .then(response => response.text())
                .then(data => {
                    const linhas = data.split('\n');
                    const cursoSelect = document.getElementById('nomeCurso');
                    linhas.forEach(linha => {
                        const colunas = linha.split(',');
                        if (colunas.length >= 2) {
                            const option = document.createElement('option');
                            option.value = colunas[0].trim();
                            option.textContent = colunas[1].trim();
                            cursoSelect.appendChild(option);
                        }
                    });
                })
                .catch(error => console.error('Erro ao carregar os cursos:', error));
        });
    </script>
    <script src="formToJson.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>