
.normal00 {
    text-align: center;
    line-height: 130%;
    font-size: 10pt;
}

/* Estilos do rodapé */
#rodape {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    /* Ajuste conforme necessário */
    background-color: #fff;
    padding: 10px;
    text-align: center;
    /* border-top: 1px solid #ccc; */
}
