/* Estilos gerais */
/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
} */


body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

table {
    border-collapse: collapse;
    /* width: 100%; */
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 5px 10px; /* Diminuir o padding vertical para reduzir a altura */
    text-align: center;
}

th {
    background-color: #f2f2f2; /* Cor do cabeçalho */
}

/* Mesma cor de fundo para a coluna "Dia" */
td:first-child {
    background-color: #f2f2f2; /* Mesma cor do cabeçalho */
}

/* tr:nth-child(even) {
    background-color: #f9f9f9; /* alterna as cores das linhas confome são par ou impar 
} */

/* tr:hover {
    background-color: #f1f1f1; /* efeito mouse passando em cima da celula
} */

/* Cor de fundo para linhas de sábado e domingo */
tr.sabado, tr.domingo {
    background-color: #f2f2f2; /* Mesma cor do cabeçalho */
}

/* Estilo para texto diferenciado no sábado e domingo */
td.sabado, td.domingo {
    /* color: #721c24; */
    font-weight: bold;
}

/* Ajuste de altura mínima da linha, se necessário */
 td, th {
    line-height: 1.0; /* Ajustar a altura da linha */
} 




/*Esconder Setas do Input Number*/
/* Para Chrome, Safari, Edge e Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*Esconder Setas do Input Number*/
/* Para Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.dados {
    padding: 20px;
    width: 650px;
    margin: 0 auto;
}

.print {
    /* display: none; */
    padding: 10px;
    width: 900px;
    margin: 0 auto;
}

/* Estilos do cabeçalho */
#cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
    /* Ajuste conforme necessário */
    /* border-bottom: 1px solid #ccc; */
}

#cabecalho-text {
    margin: 0 10px;
    font-weight: bold;
}

/* Estilos do conteúdo */
#conteudo {
    margin-top: 120px;
    /* Ajuste conforme necessário para garantir que o conteúdo não seja obscurecido pelo cabeçalho */
    margin-bottom: 70px;
    /* Ajuste conforme necessário para garantir que o conteúdo não seja obscurecido pelo rodapé */
    padding: 20px;
}


/* Estilos de impressão */
@media print {
    .print {
        display: block;
    }

    .dados {
        display: none;
    }
}

@media print {
    #cabecalho {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    #conteudo {
        margin-top: 120px;
        margin-bottom: 70px;
    }
}