#divMenu {
    font:normal 20pt Calibri;
    border:1px dotted blue;
    width:200px;
    padding:0;
    position:absolute;
    background:rgba(133, 192, 242, 0.54) url('imagem.jpg');
    background-position:-1100px -200px;
    visibility:hidden;
}

#divMenu ul{
    list-style-type:none;
    margin:0;
    line-height:50px;
    padding:0;
    text-align:center;
}

#divMenu > ul > li {
    cursor:pointer;
}

#divMenu > ul > li:nth-child(n < 3) {
    border-bottom:1px dotted;
}

#divMenu > ul > li:hover {
    background-color:rgba(133, 192, 242, 0.7);
}