* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', 'sans-serif';
}

body {
    background: #f0f0f0;
}

.ti {
    font-family: 'themify';
}

ul {
    list-style-type: none;
    font-size: 20px;
}

.ti-image,
.ti-file {
    color: #2b6ef3;
}

.nested {
    padding-left: 55px;
}