<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>
  <div class="plano-estagio" style="width: 50%; margin: 0 auto;">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td style="text-align: center;"><b>Plano de Estágio</b></td>
        </tr>
        <tr>
          <td>Tipo de Estágio:</td>
        </tr>
        <tr>
          <td>Data de Início:</td>
        </tr>
        <tr>
          <td>Data de Fim:</td>
        </tr>
        <tr>
          <td>Horário de Estágio:</td>
        </tr>
        <tr>
          <td>Carga horária semanal/total:</td>
        </tr>
        <tr>
          <td>Nº Apólice de Seguro contra acidentes pessoais:</td>
        </tr>
        <tr>
          <td>Bolsa auxílio (Conforme a Lei 11788), o Estágio Não Obrigatório, é compulsório a bolsa auxílio
            e o vale transporte. O Estágio Obrigatório é optativo, neste caso não havendo o benefício, informar ”Estágio
            não remunerado”.</br></br></br></br></br></td>
        </tr>
      </tbody>
    </table>
    Atividades de Estágio:
  </div>
</body>

</html>