body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.page {
    page-break-after: always;
    /* Garante que cada página seja impressa separadamente */
    width: 21cm;
    /* Tamanho A4, ajustável conforme necessário */
    height: 29.7cm;
    margin: 2cm auto;
    /* Margens para centralizar na página */
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Sombra opcional */
    overflow: hidden;
    /* Evita que conteúdos vazem para outras páginas */
}

header,
footer {
    background-color: #f0f0f0;
    padding: 10px;
    position: absolute;
    width: calc(100% - 20px);
}

header {
    top: 0;
}

footer {
    bottom: 0;
}

main {
    padding: 20px;
}

@media print {
    body {
        margin: 0;
        padding: 0;
    }

    .page {
        margin: 0;
        box-shadow: none;
        page-break-after: always;
    }
}